/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/******* STYLES *******/

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: #4b4a50;
}

/* Top Content */
h1 {
    margin-top: 4.333rem;
}

h1, h2 {
    padding: 0 0 .667rem;
    font-size: 2.35rem;
    text-align: center;
} 

h2 {
    font-weight: 600;
}

.top-description {
    width: 35%;
    margin: 0 auto;
    padding-top: .667rem;
    font-size: 1.05rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    color: #a3a5ae;
}

/* Sections */
.sections {
    display: flex;
    width: 75%;
    height: auto;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.section {
    position: relative;
    width: 22.667rem;
    height: 15.333rem;
    border-radius: .333rem;
    box-shadow: 0px .333rem 13px 1px rgba(0,0,0,0.1);
}

.center {
    margin: 4.333rem 1.867rem;
}

.one {
    border-top: .333rem solid #45d3d3;
}

.two {
    margin-bottom: 2rem;
    border-top: .333rem solid #ea5353;
}

.three {
    border-top: .333rem solid #fcaf4a;
}

.four {
    border-top: .333rem solid #549ef2;
}

.section-title {
    padding: 2rem 0 1rem 2.133rem;
    font-size: 1.2rem;
    font-weight: 600;
}

.section-description {
    padding: 0 2rem;
    font-weight: 400;
    line-height: 1.5;
    color: #a3a5ae;
}

img {
    position: absolute;
    right: 2rem;
    bottom: 2rem;
}

.attribution {
    text-align: center;
    padding-bottom: 1.333rem;
}

footer a {
    text-decoration: none;
    color: #45d3d3;
}


@media screen and (max-width: 1100px) {
    .sections {
        flex-wrap: wrap;
        margin-top: 4.333rem;
        justify-content: space-evenly;
    }

    .top-description {
        width: 60%;
        padding: .667rem 0;
        font-size: 1.067rem;
    }

    .center {
        display: flex;
        flex-direction: row;
        order: 2;
    }

    .two {
        margin-right: 2.733rem;
    }
}

@media screen and (max-width: 965px) {
    .center {
        display: flex;
        flex-direction: column;
    }

    .center {
        margin: 0;
    }

    .section h4 {
        font-size: 1.3rem;
    }

    .one, .four {
        margin-bottom: 1rem;
    }

    .two {
        margin: 0 2rem;
    }

    .three {
        margin: 1rem 2rem;
    }
}


/* Mobile */

@media screen and (max-width: 376px) {
    h1 {
        margin-top: 5.333rem;
    }

    h1, h2 {
        font-size: 1.667rem;
        padding: .333rem 0;
    }

    .top-description {
        width: 80%;
        padding: .667rem 0;
        font-size: 1.067rem;
    }

    .sections {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 95%;
        margin-top: 4.333rem;
    }

    .center {
        width: 100%;
        margin: 0;
    }

    .section {
        width: 85%;
        height: 200px;
    }

    .section h4 {
        font-size: 1.3rem;
    }

    .two {
        margin: 1rem 2rem;
    }

    .three {
        margin: 1.333rem 2rem;
    }

    img {
        width: 3.333rem;
        bottom: 1.667rem;
        right: 1.667rem;
    }

    footer p {
        padding: 1.333rem 0;
        font-size: .933rem;
    }
} 